<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>escanear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Escaneo de plagas</h5>

  <ion-grid>
    <ion-button expand="block" class="btn-scan">
      <ion-col>
        <ion-icon name="scan-outline"></ion-icon>
        <p>Haz tap para empezar a escanear la plaga</p>
      </ion-col>
    </ion-button>

    <ion-button expand="block">
      <ion-col>
        <ion-icon name="scan-outline"></ion-icon>
        <p>Seleccionar imagen en galería</p>
      </ion-col>
    </ion-button>
    <p>Formato permitido ".jpg" y ".png"</p>
  </ion-grid>
</ion-content>
